
h4 {
    color: darkred;
}

article {
    border: 2px solid darkviolet;
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
}

.non-article-heading {
    color: blue;
}

.footer-image {
    width: 20%;
}

.article-image {
    width: 20ex;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}

footer {
text-align: center;
background-color: aliceblue;
padding: 10px;
}

header {
    padding: 10px;
    text-align: center;
    background-color: aliceblue;
}

body {
    margin: 0;
}

a {
    color: rgb(57, 57, 57);
}
nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-right: 15px;
    height: 2em;
}


nav a {
    font-size: 16px;
    text-decoration: none;
    transition: font-size 0.3s ease;
}

nav a:hover {
    font-size: 20px;
    color: darkmagenta;
}
